# Ignore exports
export/

# Ignore SQLite database
assets/databases/*.sqlite
assets/databases/*.sqlite-journal

# Ignore scraped logos
assets/logos/*

# Ignore environment variables
.env

# Never ignore keep files
!**/*.keep
