# Ignore SQLite database
/databases/*.sqlite
/databases/*.sqlite-journal

# Ignore exports
export/

# Ignore scraped logos
files/logos/*

# Ignore environment variables
.env

# Never ignore keep files
!**/*.keep
