# Ignore exports
export/

# Ignore SQLite database
assets/databases/*.sqlite
assets/databases/*.sqlite-journal

# Ignore scraped HTML
assets/html/*

# Ignore environment variables
.env

# Never ignore keep files
!**/*.keep
