[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
pypika = "*"
argparse = "*"
pymaybe = "*"
filetype = "*"
lxml = "*"
snakeviz = "*"
progressbar2 = "*"
python-utils = "*"
pandas = "*"
twitterapi = "*"
googlemaps = "*"
tldextract = "*"
scrapy = "*"
billiard = "*"
pycountry = "*"
graphviz = "*"
cloudinary = "*"
pytest = "*"

[requires]
python_version = "3.8"
